<div id="title">
  <h1>MY BACKGROUND</h1>
  <div class="underline"></div>
</div>
<div id="body">
  <div id="imagecontainer">
    <div id="selfieborder">
      <img id="selfie" class="fadeio" src="../../assets/me.jpeg">
    </div>
  </div>
  <div class="width">
    <h2>My Story</h2>
  </div>
  <div class="indent">
    I'm a Software Engineer from Whitby, Ontario with a love for anything software dev, especially from the perspective of embedded systems that play a direct role in everyday life. Lately, I've been delving deeper into web development to help apply these control systems more availably. If there's a chance for me to use a computer to solve a problem in an unconventional way, count me in. 
  </div>
  <br/>
  <div class="width">
	<h2>My Toolbox</h2>
  </div>
  <div class="indent">
  	I've come to find that in the practice of software dev, you either love the docs, or you love the struggle. That being said, here's a list of the tools whose official (and unofficial) docs I read quite often:
  	<ul>
  		<li>Python</li>
  		<li>Javascript/TypeScript</li>
  		<li>Angular</li>
  		<li>Node.JS</li>
  		<li>Express</li>
  		<li>HTML/CSS/SCSS</li>
		<li>HTTP/SSL</li>
  		<li>uWSGI</li>
  		<li>NGINX</li>
      <li>Flask</li>
		<li>Docker</li>
  		<li>MongoDB</li>
                <li>PostgreSQL</li>
  		<li>Git</li>
	        <li>Bash</li>
  	</ul>
  	...and a little less, but still often:
  	<ul>
  		<li>Java</li>
  		<li>Vue.JS</li>
  		<li>React</li>
  		<li>C</li>
  		<li>Go</li>
      		<li>Django</li>
      		<li>DigitalOcean</li>
      		<li>Heroku</li>
  	</ul>
  </div>
</div>
