@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 100;
	font-size: 4vw;
  letter-spacing: 10px;		    
}

h2 {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 500;
	font-size: 2vw;
  letter-spacing: 10px;
  color: #545454; 
}

h3 {
	font-weight: 100;
	font-size: 1vw;
  letter-spacing: 2px;
  color: white; 	
}

h3:hover {
	color: black;
}

a {
  cursor: pointer;
}

#title {
	margin: 0.5em auto;
	text-align: center;
}

.underline {
  border-bottom:3px solid black;
  width: 120px;
  margin: 0 auto;
}

#sectionstitle {
	margin-left: 5em;
}

#sectionsbody {
	margin: 3em auto;
	text-align: center;
	width: 80%;	
}

#projectcontainers{
	display: inline-block;
	text-align: center;
	margin-bottom: 1em;
}

.projectmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 55%;
  height: auto;
  text-align: center;
	z-index: 1;
	background-color: rgba(0,0,0,0.75);
}

.projectmodalclose {
	position: fixed;
	right: 10px;
	top: 10px;
}

.projectinfo {
  padding: 0;
  width: 100%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
	background-color: rgba(255,255,255,0.85);
}

.projectdescription {
	margin: 0.25em auto 0 auto;
	max-width: 95%;
	min-width: 50%;
  font-size: 13.5px;
	text-align: center;
  text-indent: 1em;
}

.descpar2 {
  margin: 0.25em auto 0 0;
  max-width: 95%;
  min-width: 50%;
  font-size: 13.5px;  
  text-align: left;
}

.projectlink {
	top: 75%;	
}

#projectcollectioncontainer {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.button {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #2B2D2F;
  border: none;
  color: white;
  width: auto;
  padding: -20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;	    
}

.button:hover {
	background-color: #adadad;
}

/* hides html button imagery when a tag no longer valid since inline (not block el)*/
.nobutton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
}

.modalimgcontainer {
  opacity: 0;
  height: 50vh;
}

.imgarrowflex {
  background-size: 100% 100%;
  display: flex; 
  align-items: stretch;
}

.imgarrowgrid {
  flex: 0 0 10%;
  height: 45vh;  
}

.imggrid {
  flex: 0 0 80%;
  height: 45vh; 
}

.arrow {
  border: solid #90ee90;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 20px;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;    
}

.arrow:hover {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 20px;    
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.fadeio {
    -webkit-animation: fade 0.25s linear forwards;
    animation: fade 0.25s linear forwards;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


/* MOBILE */


@media screen and (max-width: 800px) {

  h1 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 8vw;
    letter-spacing: 10px;       
  }

  h2 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 5vw;
    letter-spacing: 10px;
  }  

  h3 {
    font-weight: 100;
    font-size: 2vw;
    letter-spacing: 2px;
    color: white;   
  }

  #body {
    margin: 3em auto;
    text-align: center;
    width: 80%; 
  }

  #sectionstitle {
    text-align: center;
    margin: 0;
  }

  #sectionsbody {
    margin: 3em auto;
    text-align: center;
    width: 100%; 
  }  

  .projectdescription {
    margin: 0.25em auto 0 auto;
    max-width: 95%;
    min-width: 50%;
    font-size: 9px;
    text-align: center;
    text-indent: 1em;
  }

  .descpar2 {
    margin: 0.25em auto 0 0;
    max-width: 95%;
    min-width: 50%;
    font-size: 9px;  
    text-align: left;
  }  

  .projectmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    font-size: 0.70em;
    display: scroll;
    height: auto;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
  }

  .modalimgcontainer {
    opacity: 0;
    height: 75vw;
  }

}