<div id="title">
  <h1>MY WORK</h1>
  <div class="underline"></div>
</div>

<div id="sectionstitle">
	<h2>LIVE WEB PROJECTS</h2>
</div>
<div id="sectionsbody">
	<div id="projectcontainers" *ngFor="let project of live_projects">
 	 	<project-template (click)="learnMore()" [project]="project"></project-template>
		<div *ngIf="live_projects.length === 0">
			Nothing
		</div>
	</div>
</div>

<div id="sectionstitle">
	<h2>UNDISTRIBUTED PROJECTS</h2>
</div>
<div id="sectionsbody">
	<div id="projectcollectioncontainer">
		<projects-collection [projects]="local_projects"></projects-collection>
		<div *ngIf="live_projects.length === 0">
			Nothing
		</div>
	</div>
</div>

<!--TEMPLATE FOR WEB PROJECTS MODAL, FED THROUGH MESSAGE SERVICE BETWEEN HERE AND 
	PROJECTS TEMPLATE. PROJECTS COLLECTION IS STATIC...SO NO TEMPLATE OTHER THAN ITSELF-->

<div class="projectmodal fadeio" *ngIf="clicked && project_selected !== null">
	<div class="projectinfo">
		<div class="projectdescription">
			<h2>{{ project_selected.Title }}</h2>
			<div style="text-align: left;">
				{{ project_selected.Description }}
			</div>
			<div class="descpar2">
     			{{ project_selected.Description2 }}				
			</div>
			<a [attr.href]="project_selected.URL"><button class="button"><h3>visit 	{{project_selected.Title}}</h3></button></a>
		</div>
		<div style="margin-bottom: 0.5em;">
			available for reference @ <a [attr.href]="project_selected.Github_Link">github</a>
		</div>
		<div class="projectmodalclose">
			<button class="nobutton" (click)="closeModal()">
				<i class="fa fa-window-close" aria-hidden="true" style="font-size:36px;"></i>
			</button>
		</div>
	</div>
	<div class="imgarrowflex" [ngStyle]="{'background-image': getImage()}">
		<button (click)="prevModalImg()" class="nobutton imgarrowgrid"><i class="fadeio arrow left"></i></button>
		<div *ngIf="!iframe && !iframe2" class="imggrid modalimgcontainer">
			<img class="modalimgsize" src='assets/modelsize.png'>
		</div>
		<div *ngIf="iframe && !iframe2" class="imggrid">
			<iframe src="https://drive.google.com/file/d/1-Vf_gE9CrkWkE82uO9ZYs7gPCZvXtFDa/preview"></iframe>
		</div>
		<div *ngIf="iframe2" class="imggrid">
			<iframe src="https://drive.google.com/file/d/193k3l-5y50xMTc-jjZZpD8X790WXsioX/preview"></iframe>
		</div>		
		<button (click)="nextModalImg()" class="nobutton imgarrowgrid"><i class="fadeio arrow right"></i></button>
	</div>
</div>
