@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 100;
  font-size: 4vw;
  letter-spacing: 10px;		    
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e0e0e0;  
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: #e0e0e0;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;    
}

input[type=submit]:hover {
  background-color: #e0e0e0;  
  color: black; 
}

/* hides html button imagery when a tag no longer valid since inline (not block el)*/
.nobutton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}

#title {
  text-align: center;
}

.underline {
  border-bottom:3px solid black;
  width: 120px;
  margin: 0 auto;
}

#body {
  margin: 3em auto;
  text-align: center;
  width: 50%;	
}

.container {
  border-radius: 5px;
  background-color: #585858;
  padding: 20px;
  text-align: left;
}

.linklist {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5em;
}

.linklistitem {
  flex: 1;
  margin: 0 1em 0 1em;
}

.emailcopynotification {
  position: absolute;
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
  background-color: #4BB543;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw; 
  color: white;
  opacity: 0.75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emailsentnotification {
  position: absolute;
  border: 2px solid black;
  padding: 20px;  
  margin: 0 1em 0 1em;
  border-radius: 5px;
  background-color: #4BB543;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw; 
  color: white;
  opacity: 0.75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emailfailednotification {
  position: absolute;
  border: 2px solid black;
  padding: 20px;
  margin: 0 1em 0 1em;  
  border-radius: 5px;
  background-color: #ff0033;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw; 
  color: white;
  opacity: 0.75;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fadeio {
    opacity: 1;
    animation: fade 5s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  15%,85% { opacity: 1 }
}


/* MOBILE */


@media screen and (max-width: 800px) {

  h1 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 8vw;
    letter-spacing: 10px;       
  }

  h2 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 5vw;
    letter-spacing: 10px;
  }  

  #body {
    margin: 3em auto;
    text-align: center;
    width: 80%; 
  }

  .emailcopynotification {
    position: absolute;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    background-color: #4BB543;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.5vw; 
    color: white;
    opacity: 0.75;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .emailsentnotification {
    position: absolute;
    border: 2px solid black;
    padding: 20px;  
    margin: 0 1em 0 1em;
    border-radius: 5px;
    background-color: #4BB543;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.5vw; 
    color: white;
    opacity: 0.75;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .emailfailednotification {
    position: absolute;
    border: 2px solid black;
    padding: 20px;
    margin: 0 1em 0 1em;  
    border-radius: 5px;
    background-color: #ff0033;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4.5vw; 
    color: white;
    width: 80%;    
    opacity: 0.75;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}