@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
  color: #101010;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 100;
  font-size: 1.5vw;
  letter-spacing: 2px;
  margin-bottom: -0.5em;       
}

#body {
  text-align: center;
  margin: 0 3em 0 3em;
  opacity: 1;
  width: 50%;
}

.button {
  background-color: #585858;
  color: white;     
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw; 
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;	    
}

.button:hover {
  background-color: white; 
  color: #58585B;     
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.projectcase{
  width: 150%;
  position: relative;
  text-align: center;
}

.projectlogo {
  width: 300px;
  height: 250px;
  opacity: 1;
}

.standard {
  opacity: 1;
}

.hover {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fadeio {
  -webkit-animation: fadein 0.25s linear forwards;
  animation: fadein 0.25s linear forwards;
}

@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}


/* MOBILE */


@media screen and (max-width: 800px) {

  #body {
      text-align: center;
      opacity: 1;
  }

  .projectcase{
    position: relative;
    text-align: center;
  }  

  h1 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 5vw;
    letter-spacing: 10px;
  }  

}