<!--div id="body" *ngFor="let project of projects"-->
<div id="body" *ngIf="project">
	<div class="imgarrowflex" [ngStyle]="{'background-image': getImage()}">
		<button (click)="prevProjectImg()" class="nobutton imgarrowgridside">
			<div class="buttontext">
				<i class="fadeio arrowleft left"></i>
			</div>
			<a class="navtext" (click)="prevProj()">PREV</a>
		</button>

		<div class="imgarrowgridmiddle" [ngStyle]="{'background-image': getImage()}">
			<h1>{{ project.Title }}</h1>
			<img class="projectimg" src="assets/modelsize.png">
		</div>

		<button (click)="nextProjectImg()" class="nobutton imgarrowgridside">
			<div class="buttontext">
				<i class="fadeio arrowright right"></i>
			</div>
			<a class="navtext" (click)="nextProj()">NEXT</a>
		</button>
	</div>
	<div id="footer">
		<h5 class="footergridcontent">{{ project.Description }}</h5>
		<div class="footergridcontent">
			available for reference @ <a [attr.href]="project.Github_Link">github</a>
		</div>
	</div>
</div>
