@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
    color: black;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 0;
    background: white;
    width: 50%; 
    left: 25%;
    border-radius: 5px;
    opacity: 0.75;
}

h5 {
    font-family: 'Courier New', serif;     
    color: white;
    font-weight: 100;
    font-style: inherit;
    font-size: 12px;
    margin: 0.75em 1em 0.75em 1em;
}

a {
    cursor: pointer;
}

.navtext {
    color: white;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;      
}

.navtext:hover {
    color: black;    
}

#body {
    border-top: 10px solid #585858;
    text-align: center;
    height: 70vh;
}

#footer {
    background-color: #585858;
    margin-top: auto;
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footergridcontent {
    flex: 1;
    margin-bottom: 1em;
    width: 100%;
}

.imgarrowflex {
    background-size: 100% 100%;
    display: flex; 
    align-items: stretch;
}

.imgarrowgridmiddle {
    width: 90%;
    flex: 5% 90% 5%;
    overflow: hidden;
    padding-top: 28em;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgarrowgridside {
    height: 70vh;
    width: 8%;
}

.projectimg {
    opacity: 0;
    height: 2vh;
}

.arrowright {
    cursor: pointer;    
    border: solid #90ee90;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    padding: 0.75em;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;    
}

.arrowleft {
    cursor: pointer;
    border: solid #90ee90;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    padding: 0.75em;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;    
}

.arrowright:hover {
    border: solid black;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    padding: 0.75em;   
}

.arrowleft:hover {
    border: solid black;
    border-width: 0 0.25em 0.25em 0;
    display: inline-block;
    padding: 0.75em; 
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

button {
    background-color: #585858;
    color: black;     
    border: none;
    padding: 8px 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5vw; 
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;	    
}

button:focus{
    outline: none;
}

.buttontext { 
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fadeio {
    -webkit-animation: fadein 0.25s linear forwards;
    animation: fadein 0.25s linear forwards;
}

@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/* MOBILE */


@media screen and (max-width: 800px) {


  h1 {
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 100;
    font-size: 3vw;
    width: 90%;
    letter-spacing: 5px;
    left: 5%;
  }  

  #body {
    border-top: 10px solid #585858;
    text-align: center;
    height: 50vh;
  }

  .imgarrowgridmiddle {
    width: 90%;
    flex: 5% 90% 5%;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 12em;
  }

  .imgarrowflex {
    background-size: 100% 100%;
    display: flex; 
    align-items: stretch;
    height: auto;
  }

  .imgarrowgridside {
    height: 35vh;
    width: 12%;
  }  

  #footer {
    background-color: #585858;
    margin-top: auto;
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navtext {
    color: white;
    font-size: 2.75em;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;      
  }

  .arrowright {
    cursor: pointer;    
    border: solid #90ee90;
    border-width: 0 0.75em 0.75em 0;
    display: inline-block;
    padding: 1em;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;    
  }

  .arrowleft {
    cursor: pointer;    
    border: solid #90ee90;
    border-width: 0 0.75em 0.75em 0;
    display: inline-block;
    padding: 1em;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    transition: border 0.5s;    
  }
}